body 
{
  background-image: -webkit-linear-gradient(top, #808080 0%, #FFFFFF 50%);
  background-image: -moz-linear-gradient(top, #808080 0%, #FFFFFF 50%);
  background-image: -ms-linear-gradient(top, #808080 0%, #FFFFFF 50%);
  background-image: -o-linear-gradient(top, #808080 0%, #FFFFFF 50%);
  background-image: linear-gradient(top, #808080 0%, #FFFFFF 50%);
  background-repeat: no-repeat;
  background-size:100% 1920px;

  //background-image: url("https://pbs.twimg.com/media/DHShiXcV0AEMT1_.jpg");
  //background-repeat: no-repeat, repeat;
  //background-size: cover;

  /* Additions made by Taylor Davenport  */
  flex-direction: column !important; -webkit-flex-flow: column !important;
  display: -webkit-box; display: -ms-flexbox; display: flex;
  height:100vh;
}

a:visited
{
	color: #6DD8E6;
}

a:hover
{
  visibility: visible;
}

#header 
{
	position: relative;
  padding-top: 25px;
}

#footer
{
  position:fixed;
  bottom:0;
}



.btn {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #2980b9);
  background-image: -moz-linear-gradient(top, #d93434, #2980b9);
  background-image: -ms-linear-gradient(top, #d93434, #2980b9);
  background-image: -o-linear-gradient(top, #d93434, #2980b9);
  background-image: linear-gradient(to bottom, #d93434, #2980b9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-shadow: 2px 2px 1px #030303;
  -webkit-box-shadow: 1px 1px 2px #666666;
  -moz-box-shadow: 1px 1px 2px #666666;
  box-shadow: 1px 1px 2px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 25px 10px 25px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 20px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

#chunky-buttons a {
    float: left;
    display: inline-block;
    position: relative;
    margin: 0;
    margin-top: 8px;
    margin-left: 6px;
}

.chunky {
    position: relative;
    width: 125px;
    height: 65px;
    background: transparent;
    margin: 0 auto;
    padding-top: 2px;
    padding-left: 2px;
}


/* ===[ Begin Chunky Button ]=== */

.chunky a {
    /* Normal State */
    padding: 4px 15px 7px 15px;
    width: auto;
    height: auto;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.50);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.50);
    border-top: 1px solid rgba(0,0,0,0.001);
    box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.10);
    cursor: pointer;
}

.chunky a:hover {
    /* Hover State */
    box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.25);
    -webkit-animation: glow 1s infinite ease-in-out;
    cursor: pointer;
}

.chunky a:active {
    /* Active State (clicked on) */
    padding: 6px 15px 5px 15px;
    border-top: 1px solid rgba(0,0,0,0.55);
    box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 2px 1px rgba(255,255,255,0.50), inset 0px 1px 4px rgba(0,0,0,0.35), inset 0px -14px 14px rgba(255,255,255,0.10);
    -webkit-animation: none;
    cursor: pointer !important;
}

/* ===[ End Chunky Button ]=== */


/* ===[ Start Chunky Button Background Color ]=== */

.chunky23 a { background: #990000 }

/* ===[ End Chunky Button Background Color ]=== */


/* ===[ Start Glow Animation ]=== */

@-webkit-keyframes glow { 
    0% {
        box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
        -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
        -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.35);
    }

    100% {
        box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
        -o-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
        -ms-box-shadow: 0 0 10px rgba(0,0,0,0.35), 0px 1px 3px rgba(0,0,0,0.18), inset 0px -3px 0px rgba(0,0,0,0.35), inset 0px 14px 14px rgba(255,255,255,0.18);
    }
}

/* ===[ End Glow Animation ]=== */


/* ===[ Start Rollover TA buttons ]=== */

/*TO ENABLE: ADD 'rollOverText' IN THE TA BUTTON GROUP CLASS LIST*/

/*#queue{*/

/*}*/

/*#queue .rollOverText{*/
    /*display:none;*/
/*}*/

/*#queue tr:hover .rollOverText{*/
    /*display:block;*/
/*}*/

/* ===[ End Rollover TA buttons ]=== */



/* === Start Miscellaneous CSS (Source: Taylor Davenport) === */

.jumbotron {padding:0px !important; margin-top: -20px !important; margin-bottom: 10px !important; opacity: 0.75 !important;}

/*#duty_button, #freeze_button, #state_button, #join_button, #stats_button {*/
    /*width:175px;*/
/*}*/

@media (min-width: 768px) and (orientation: landscape)
{
    #onDutyTA-wrapper, #announcements-wrapper {height:225px;}

    .table-scrollOnOverflow-sm {overflow-y:auto;}
}
/*#announcements-wrapper td {word-break: break-all;} !*CORRECTS HORIZONTAL SCROLLBAR FOR A LONG STRING OF CONTINUOUS CHARACTERS, BUT BREAKS IN WORDS*!*/

.bgColor-grey-1 {background-color:#eee;}

/* === End Miscellaneous CSS (Source: Taylor Davenport) === */



/* === Start FLEX (Source: Taylor Davenport) === */

/* Orientation */
.flex-column {flex-direction: column !important; -webkit-flex-flow: column !important;}
.flex-columnReverse {flex-direction: column-reverse !important; -webkit-flex-flow: column-reverse !important;}
.flex-row {flex-direction: row !important; -webkit-flex-flow: row !important;}
.flex-rowReverse {flex-direction: row-reverse !important; -webkit-flex-flow: row-reverse !important;}

/* Justification */
.flex-justifyContent-start {justify-content: flex-start !important; -webkit-justify-content: flex-start !important;}
.flex-justifyContent-spaceAround {justify-content: space-around !important; -webkit-justify-content: space-around !important;}
.flex-justifyContent-spaceBetween {justify-content: space-between !important; -webkit-justify-content: space-between !important;}
.flex-justifyContent-center {justify-content: center !important; -webkit-justify-content: center !important;}
.flex-justifyContent-end {justify-content: flex-end !important; -webkit-justify-content: flex-end !important;}

/* Align Items (affects main-axis) */
.flex-alignItems-end {align-items: flex-end !important; -webkit-align-items: flex-end !important;}
.flex-alignItems-center {align-items: center !important; -webkit-align-items: center !important;}
.flex-alignItems-stretch {align-items: stretch !important; -webkit-align-items: stretch !important;}
.flex-alignItems-start {align-items:flex-start !important;}

/* Align Content (affects cross-axis i.e.overflow) */
.flex-alignContent-start {align-content:flex-start !important; -webkit-align-content:flex-start !important;}
.flex-alignContent-center {align-content:center !important; -webkit-align-content:center !important;}
.flex-alignContent-spaceBetween {align-content:space-between !important; -webkit-align-content:space-between !important;}
.flex-alignContent-spaceAround {align-content:space-around !important; -webkit-align-content:space-around !important;}
.flex-alignContent-stretch {align-content:stretch !important; -webkit-align-content:stretch !important;}
.flex-alignContent-end {align-content:flex-end !important; -webkit-align-content:flex-end !important;}


/* Misc */
/* flex-basis-100 note: Extra class can be used with flex-fillSpace to eliminate double scrollbars in IE in certain situations */
.flex-basis-100 {-webkit-flex-basis: 100% !important; flex-basis: 100% !important;}
.flex-wrap {flex-wrap:wrap !important;}
.flex-noShrink {flex-shrink:0 !important; -webkit-flex-shrink:0 !important;}
.flex {display: -webkit-box; display: -ms-flexbox; display: flex;}
.flex-fillSpace {-webkit-flex: 1 1 auto; flex: 1 1 auto;}

/* =============================================================================== */

/* === MEDIA QUERIES === */

/* xs-down */
@media (max-width: 767px) {
    .flex-order-0-xs-down {order:0;}
    .flex-order-1-xs-down {order:1;}
    .flex-order-2-xs-down {order:2;}
    .flex-order-3-xs-down {order:3;}
    .flex-order-4-xs-down {order:4;}
    .flex-order-5-xs-down {order:5;}
    .flex-order-6-xs-down {order:6;}
    .flex-xs-down {display: -webkit-box; display: -ms-flexbox; display: flex;}
    .flex-wrap-xs-down {flex-wrap:wrap !important;}
    .flex-column-xs-down {flex-direction: column !important; -webkit-flex-flow: column !important;}
    .flex-fillSpace-xs-down {-webkit-flex: 1 1 auto; flex: 1 1 auto;}
    .flex-alignItems-center-xs-down {align-items: center !important; -webkit-align-items: center !important;}
    .flex-alignItems-start-xs-down {align-items:flex-start !important;}
    .flex-alignItems-stretch-xs-down {align-items: stretch !important; -webkit-align-items: stretch !important;}

    .flex-justifyContent-spaceBetween-xs-down {justify-content: space-between !important; -webkit-justify-content: space-between !important;}
    .flex-justifyContent-center-xs-down {justify-content: center !important; -webkit-justify-content: center !important;}
    .flex-justifyContent-start-xs-down {justify-content: flex-start !important; -webkit-justify-content: flex-start !important;}
}

/* sm */
@media (min-width: 768px) {
    .flex-order-0-sm {order:0;}
    .flex-order-1-sm {order:1;}
    .flex-order-2-sm {order:2;}
    .flex-order-3-sm {order:3;}
    .flex-order-4-sm {order:4;}
    .flex-order-5-sm {order:5;}
    .flex-order-6-sm {order:6;}
    .flex-sm {display: -webkit-box; display: -ms-flexbox; display: flex;}
    .flex-wrap-sm {flex-wrap:wrap !important;}
    .flex-column-sm {flex-direction: column !important; -webkit-flex-flow: column !important;}
    .flex-fillSpace-sm {-webkit-flex: 1 1 auto; flex: 1 1 auto;}
    .flex-alignItems-center-sm {align-items: center !important; -webkit-align-items: center !important;}
    .flex-alignItems-start-sm {align-items:flex-start !important;}
    .flex-alignItems-stretch-sm {align-items: stretch !important; -webkit-align-items: stretch !important;}

    .flex-justifyContent-spaceBetween-sm {justify-content: space-between !important; -webkit-justify-content: space-between !important;}
    .flex-justifyContent-center-sm {justify-content: center !important; -webkit-justify-content: center !important;}
    .flex-justifyContent-start-sm {justify-content: flex-start !important; -webkit-justify-content: flex-start !important;}
}

/* sm-down */
@media (max-width: 991px) {
    .flex-order-0-sm-down {order:0;}
    .flex-order-1-sm-down {order:1;}
    .flex-order-2-sm-down {order:2;}
    .flex-order-3-sm-down {order:3;}
    .flex-order-4-sm-down {order:4;}
    .flex-order-5-sm-down {order:5;}
    .flex-order-6-sm-down {order:6;}
    .flex-sm-down {display: -webkit-box; display: -ms-flexbox; display: flex;}
    .flex-wrap-sm-down {flex-wrap:wrap !important;}
    .flex-column-sm-down {flex-direction: column !important; -webkit-flex-flow: column !important;}
    .flex-fillSpace-sm-down {-webkit-flex: 1 1 auto; flex: 1 1 auto;}
    .flex-alignItems-center-sm-down {align-items: center !important; -webkit-align-items: center !important;}
    .flex-alignItems-start-sm-down {align-items:flex-start !important;}
    .flex-alignItems-stretch-sm-down {align-items: stretch !important; -webkit-align-items: stretch !important;}

    .flex-justifyContent-spaceBetween-sm-down {justify-content: space-between !important; -webkit-justify-content: space-between !important;}
    .flex-justifyContent-center-sm-down {justify-content: center !important; -webkit-justify-content: center !important;}
    .flex-justifyContent-start-sm-down {justify-content: flex-start !important; -webkit-justify-content: flex-start !important;}
}

/* md */
@media (min-width: 992px) {
    .flex-order-0-md {order:0;}
    .flex-order-1-md {order:1;}
    .flex-order-2-md {order:2;}
    .flex-order-3-md {order:3;}
    .flex-order-4-md {order:4;}
    .flex-order-5-md {order:5;}
    .flex-order-6-md {order:6;}
    .flex-md {display: -webkit-box; display: -ms-flexbox; display: flex;}
    .flex-wrap-md {flex-wrap:wrap !important;}
    .flex-column-md {flex-direction: column !important; -webkit-flex-flow: column !important;}
    .flex-fillSpace-md {-webkit-flex: 1 1 auto; flex: 1 1 auto;}
    .flex-alignItems-center-md {align-items: center !important; -webkit-align-items: center !important;}
    .flex-alignItems-start-md {align-items:flex-start !important;}
    .flex-alignItems-stretch-md {align-items: stretch !important; -webkit-align-items: stretch !important;}

    .flex-justifyContent-spaceBetween-md {justify-content: space-between !important; -webkit-justify-content: space-between !important;}
    .flex-justifyContent-center-md {justify-content: center !important; -webkit-justify-content: center !important;}
    .flex-justifyContent-start-md {justify-content: flex-start !important; -webkit-justify-content: flex-start !important;}
}

/* md-down */
@media (max-width: 1199px) {
    .flex-order-0-md-down {order:0;}
    .flex-order-1-md-down {order:1;}
    .flex-order-2-md-down {order:2;}
    .flex-order-3-md-down {order:3;}
    .flex-order-4-md-down {order:4;}
    .flex-order-5-md-down {order:5;}
    .flex-order-6-md-down {order:6;}
    .flex-md-down {display: -webkit-box; display: -ms-flexbox; display: flex;}
    .flex-wrap-md-down {flex-wrap:wrap !important;}
    .flex-column-md-down {flex-direction: column !important; -webkit-flex-flow: column !important;}
    .flex-fillSpace-md-down {-webkit-flex: 1 1 auto; flex: 1 1 auto;}
    .flex-alignItems-center-md-down {align-items: center !important; -webkit-align-items: center !important;}
    .flex-alignItems-start-md-down {align-items:flex-start !important;}
    .flex-alignItems-stretch-md-down {align-items: stretch !important; -webkit-align-items: stretch !important;}

    .flex-justifyContent-spaceBetween-md-down {justify-content: space-between !important; -webkit-justify-content: space-between !important;}
    .flex-justifyContent-center-md-down {justify-content: center !important; -webkit-justify-content: center !important;}
    .flex-justifyContent-start-md-down {justify-content: flex-start !important; -webkit-justify-content: flex-start !important;}
}

/* lg */
@media (min-width: 1200px) {
    .flex-order-0-lg {order:0;}
    .flex-order-1-lg {order:1;}
    .flex-order-2-lg {order:2;}
    .flex-order-3-lg {order:3;}
    .flex-order-4-lg {order:4;}
    .flex-order-5-lg {order:5;}
    .flex-order-6-lg {order:6;}
    .flex-lg {display: -webkit-box; display: -ms-flexbox; display: flex;}
    .flex-wrap-lg {flex-wrap:wrap !important;}
    .flex-column-lg {flex-direction: column !important; -webkit-flex-flow: column !important;}
    .flex-fillSpace-lg {-webkit-flex: 1 1 auto; flex: 1 1 auto;}
    .flex-alignItems-center-lg {align-items: center !important; -webkit-align-items: center !important;}
    .flex-alignItems-start-lg {align-items:flex-start !important;}
    .flex-alignItems-stretch-lg {align-items: stretch !important; -webkit-align-items: stretch !important;}

    .flex-justifyContent-spaceBetween-lg {justify-content: space-between !important; -webkit-justify-content: space-between !important;}
    .flex-justifyContent-center-lg {justify-content: center !important; -webkit-justify-content: center !important;}
    .flex-justifyContent-start-lg {justify-content: flex-start !important; -webkit-justify-content: flex-start !important;}
}

/* =============================================================================== */

/* === MARGINS AND PADDING  === */

.margin-0 {margin:0px !important;}
.margin-top-0 {margin-top:0px !important;}
.margin-left-0 {margin-left:0px !important;}
.margin-right-0 {margin-right:0px !important;}
.margin-bottom-0 {margin-bottom:0px !important;}

.margin-5 {margin:5px !important;}
.margin-top-5 {margin-top:5px !important;}
.margin-left-5 {margin-left:5px !important;}
.margin-right-5 {margin-right:5px !important;}
.margin-bottom-5 {margin-bottom:5px !important;}

.margin-10 {margin:10px !important;}
.margin-top-10 {margin-top:10px !important;}
.margin-left-10 {margin-left:10px !important;}
.margin-right-10 {margin-right:10px !important;}
.margin-bottom-10 {margin-bottom:10px !important;}

.margin-15 {margin:15px !important;}
.margin-top-15 {margin-top:15px !important;}
.margin-left-15 {margin-left:15px !important;}
.margin-right-15 {margin-right:15px !important;}
.margin-bottom-15 {margin-bottom:15px !important;}

.margin-20 {margin:20px !important;}
.margin-top-20 {margin-top:20px !important;}
.margin-left-20 {margin-left:20px !important;}
.margin-right-20 {margin-right:20px !important;}
.margin-bottom-20 {margin-bottom:20px !important;}

.margin-25 {margin:25px !important;}
.margin-top-25 {margin-top:25px !important;}
.margin-left-25 {margin-left:25px !important;}
.margin-right-25 {margin-right:25px !important;}
.margin-bottom-25 {margin-bottom:25px !important;}

.margin-30 {margin:30px !important;}
.margin-top-30 {margin-top:30px !important;}
.margin-left-30 {margin-left:30px !important;}
.margin-right-30 {margin-right:30px !important;}
.margin-bottom-30 {margin-bottom:30px !important;}

.margin-35 {margin:35px !important;}
.margin-top-35 {margin-top:35px !important;}
.margin-left-35 {margin-left:35px !important;}
.margin-right-35 {margin-right:35px !important;}
.margin-bottom-35 {margin-bottom:35px !important;}

.margin-40 {margin:40px !important;}
.margin-top-40 {margin-top:40px !important;}
.margin-left-40 {margin-left:40px !important;}
.margin-right-40 {margin-right:40px !important;}
.margin-bottom-40 {margin-bottom:40px !important;}

.margin-45 {margin:45px !important;}
.margin-top-45 {margin-top:45px !important;}
.margin-left-45 {margin-left:45px !important;}
.margin-right-45 {margin-right:45px !important;}
.margin-bottom-45 {margin-bottom:45px !important;}

.margin-50 {margin:50px !important;}
.margin-top-50 {margin-top:50px !important;}
.margin-left-50 {margin-left:50px !important;}
.margin-right-50 {margin-right:50px !important;}
.margin-bottom-50 {margin-bottom:50px !important;}

.padding-0 {padding:0px !important;}
.padding-top-0 {padding-top:0px !important;}
.padding-left-0 {padding-left:0px !important;}
.padding-right-0 {padding-right:0px !important;}
.padding-bottom-0 {padding-bottom:0px !important;}

.padding-5 {padding:5px !important;}
.padding-top-5 {padding-top:5px !important;}
.padding-left-5 {padding-left:5px !important;}
.padding-right-5 {padding-right:5px !important;}
.padding-bottom-5 {padding-bottom:5px !important;}

.padding-10 {padding:10px !important;}
.padding-top-10 {padding-top:10px !important;}
.padding-left-10 {padding-left:10px !important;}
.padding-right-10 {padding-right:10px !important;}
.padding-bottom-10 {padding-bottom:10px !important;}

.padding-15 {padding:15px !important;}
.padding-top-15 {padding-top:15px !important;}
.padding-left-15 {padding-left:15px !important;}
.padding-right-15 {padding-right:15px !important;}
.padding-bottom-15 {padding-bottom:15px !important;}

.padding-20 {padding:20px !important;}
.padding-top-20 {padding-top:20px !important;}
.padding-left-20 {padding-left:20px !important;}
.padding-right-20 {padding-right:20px !important;}
.padding-bottom-20 {padding-bottom:20px !important;}

.padding-25 {padding:25px !important;}
.padding-top-25 {padding-top:25px !important;}
.padding-left-25 {padding-left:25px !important;}
.padding-right-25 {padding-right:25px !important;}
.padding-bottom-25 {padding-bottom:25px !important;}

.padding-30 {padding:30px !important;}
.padding-top-30 {padding-top:30px !important;}
.padding-left-30 {padding-left:30px !important;}
.padding-right-30 {padding-right:30px !important;}
.padding-bottom-30 {padding-bottom:30px !important;}

.padding-35 {padding:35px !important;}
.padding-top-35 {padding-top:35px !important;}
.padding-left-35 {padding-left:35px !important;}
.padding-right-35 {padding-right:35px !important;}
.padding-bottom-35 {padding-bottom:35px !important;}

.padding-40 {padding:40px !important;}
.padding-top-40 {padding-top:40px !important;}
.padding-left-40 {padding-left:40px !important;}
.padding-right-40 {padding-right:40px !important;}
.padding-bottom-40 {padding-bottom:40px !important;}

.padding-45 {padding:45px !important;}
.padding-top-45 {padding-top:45px !important;}
.padding-left-45 {padding-left:45px !important;}
.padding-right-45 {padding-right:45px !important;}
.padding-bottom-45 {padding-bottom:45px !important;}

.padding-50 {padding:50px !important;}
.padding-top-50 {padding-top:50px !important;}
.padding-left-50 {padding-left:50px !important;}
.padding-right-50 {padding-right:50px !important;}
.padding-bottom-50 {padding-bottom:50px !important;}

/* === End FLEX (Source: Taylor Davenport) === */
