<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>TA Help Queue - About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="AUTHOR"      content="Ryan Welling, Blake Burton, Zane Zakraisek"/>
    <meta name="keywords"    content="University of Utah, 2017-2018, College of Engineering"/>
    <meta name="description" content="Senior Project"/>

    <!--U icon for browser tabs-->
    <link rel="icon" type="image/png" href="../resources/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" href="../resources/img/favicon-16x16.png"/>
    <link rel="icon" type="image/png" href="../resources/img/favicon.ico"/>
</head>
<body>
WRITE ME!!!
</body>
</html>