<li class="nav-item dropdown" id="admin_menu">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Admin
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <ul>
      <li>
        <a class="dropdown-item" href="new_class">Create Course</a>
      </li>
      <!--<li>-->
        <!--<a class="dropdown-item" href="edit_class">Edit Course</a>-->
      <!--</li>-->
    </ul>
  </div>
</li>
