<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>Queue - Stats Main</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="AUTHOR"      content="Ryan Welling, Blake Burton, Zane Zakraisek"/>
		<meta name="keywords"    content="University of Utah, 2017-2018, College of Engineering"/>
		<meta name="description" content="Senior Project"/>

		<!-- ALL CSS FILES -->
		<link rel="stylesheet" type="text/css" href="../resources/CSS/global.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- jQuery CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>

		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="../resources/img/UHz.png">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="login_view.html">Login</a>
                        </li>
                        <li>
                            <a href="all_classes_view.html">All Classes</a>
                        </li>
                        <li>
                            <a href="my_classes_view.html">My Classes</a>
                        </li>
                        <li>
                            <a href="main_queue_view.html">Queue</a>
                        </li>
                        <li class="active">
                            <a href="#">Statistics</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="jumbotron jumbotron-billboard" style="margin-top: -15px; opacity: 0.75;">
			<div align="center" style="margin-top:  -40px; margin-bottom: -20px">	
				<h1 style="color: #e8002b; text-shadow: 2px 2px #000000;">Queue Statistics - Main</h1>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div id ="class_table">
						<div class="panel panel-primary">
						<!-- Default panel contents -->
							<div class="panel-heading">
								<h1 class="panel-title">Class Statistics</h3>
							</div>
							<div class="panel-body">
								<p>Please choose a class below to see the statistics for that class</p>
							</div>
								<table class="table table-hover" id="my_classes" align="center" style="margin-left:auto; margin-right:auto;">
								<tr>
									<th>Class Name</th>
									<th>Course Number</th>
									<th>Professor</th>
									<th style="float: right;">View Stats</th>
								</tr>
								<!--classes.js should write here-->
								<tr>
									<td>Foundations of CS</td>
									<td>CS 1030</td>
									<td>C. Hansen</td>
									<td>
										<a href="">
											<button class="btn btn-primary pull-right">
												<span>View</span>
											</button>
										</a>
									</td>
								</tr>
								<tr>
									<td>Obj. Oriented Prog.</td>
									<td>CS 1410</td>
									<td>J. Zachary</td>
									<td>
										<a href="">
											<button class="btn btn-primary pull-right" >
												<span>View</span>
											</button>
										</a>
									</td>
								</tr>
								<tr>
									<td>Obj. Oriented Prog.</td>
									<td>CS 1410</td>
									<td>D. Parker</td>
									<td>
										<a href="">
											<button class="btn btn-primary pull-right">
												<span>View</span>
											</button>
										</a>
									</td>
								</tr>
								<tr>
									<td>Intro to Alg & D.S.</td>
									<td>CS 2420</td>
									<td>P. Jensen</td>
									<td>
										<a href="">
											<button class="btn btn-primary pull-right">
												<span>View</span>
											</button>
										</a>
									</td>
								</tr>
							</table>
						</div><!--panel-->
					</div><!--id-->
				</div><!--col-sm-12-->
			</div><!--row-->
		</div>  
	</body>
